$background_paper: #EEEBE4;
$paper_color: #f8f8f3;

$logo: #0A0A0A;
$backgroung_main: #F3F2EC;
$background_second: #EDEBE4;

$underline: #E0E0E0;
$form_underline: #6F6F6F;
$article_underline: #C8C8C8;

$toolbar: #777777;
$active_item: #74642F;

$bullet_active: #74642F;
$bullet_passive: #928136;
$arrow: #8C8C8C;
$arrow_background :#E5E3DA;
$tab_active: #9A884C;
$disable: #999999;

$book_title: #222222;
$book_description:#7A7A7A;
$book_background: #EAE8DF;
$author:#888888;
$button_border: #C0C0C0;

$dark_theme: #222;

// $fontprimary: 'Lato', sans-serif;
$fontprimary: 'Prata', serif;
$font_secondary: 'Plus Jakarta Sans', sans-serif;
$font_third: 'Cormorant Unicase', serif;